body{
 display : grid;
 place-items: center;
 background-image: url(./bg.png);
 /* background-size: 1em; */


}
.daysTable > tr , td , p{
    /* border:black solid 2px ; */
font-family: "Roboto", sans-serif;
font-family: 400;
font-style:normal;
font-size: 1em;
}


.infotext{
  margin-top: 3em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
 
  
}
h3{
    

}
th{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
    border: rgba(0, 0, 0, 0) solid 1px;
    border-radius: 2em;
}
.daysTable{
    /* border:black solid 2px ; */
    width: 75%;
    margin: 1em;
    border-spacing: 3em;
    border-collapse: separate;
    border:black solid 1px;
    border-radius: 40px;
    background-color: white;
    border-right: rgb(100, 100, 100) solid 10px;
    border-bottom:rgb(100, 100, 100) solid 10px;
   
}

td{
    border: black solid 2px ;
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    
    }

tr{
    width: 1em;
}

.time{
    font-size: 40px;
}

.passed{
    background-color: rgb(181, 235, 184);
}

.failed{
    background-color: rgb(235, 181, 181);
}

.default_style{
    background-color: rgb(255, 255, 255);
}
